# //npm.pkg.github.com/:_authToken=${NPM_TOKEN}
# @charneykaye:registry=https://npm.pkg.github.com

//registry.npmjs.org/:_authToken=${NPM_TOKEN}
always-auth=true

audit=true
fund=true
update-notifier=true
package-lock=true
save-exact=true
legacy-peer-deps=true
ignore-scripts=false
loglevel=verbose
