# //registry.npmjs.org/:_authToken=${NPM_TOKEN}
# @biglogic:registry=https://registry.npmjs.org

audit=true
fund=true
update-notifier=true
package-lock=true
save-exact=true
legacy-peer-deps=true
ignore-scripts=false
loglevel=verbose
