name: Lint check
on:
 push:
  branches:
   - main
   - master
 pull_request:

jobs:
 eslint:
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v4
   - name: Install Node.js
     uses: actions/setup-node@v6
     with:
      node-version: 22
   - name: Install dependencies
     run: npm ci # or yarn install
   - name: Run ESLint
     run: npx eslint . --ext .js,.jsx,.ts,.tsx
